[Unit]
Description=%N
After=network.target nginx.service

[Service]
ExecStart=/usr/sbin/uwsgi --ini /usr/local/etc/%N/uwsgi.ini
User=%N
Group=%N
Restart=Always

[Install]
WantedBy=multi-user.target
