[Unit]
Description=%i
After=network.target nginx.service

[Service]
ExecStart=/usr/sbin/uwsgi --ini /usr/local/etc/%i/uwsgi.ini
User=ip2w
Group=ip2w

[Install]
WantedBy=multi-user.target
